<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="dropboxAppKey" value="8bd5uhdams86jf5"/>
      <add key="dropboxRedirectUri" value="https://www.dropbox.com/1/oauth2/redirect_receiver"/>
    </appSettings>
</configuration>